{% extends 'med_record_app/base.html' %}

{% block content %}
    <p> ID: {{ medicalrecord.id }}</p>
    <p> Date: {{ medicalrecord.date }}</p>
    <p>Patient: {{ medicalrecord.patient.first_name }} {{ medicalrecord.patient.last_name }}</p>
    <p>Specialist: {{ medicalrecord.owner.first_name }} {{ medicalrecord.owner.last_name }}</p>
    <p>Diagnosis : {{ medicalrecord.diagnosis }}</p>
    <p>ICD 10: {{ medicalrecord.ICD_10 }} </p>
    <p>Symptoms: {{ medicalrecord.symptoms }}</p>
    <p>Imaging Examination {{ medicalrecord.description_of_IE }}</p>
    <p>Medicines: {{ medicalrecord.medicines }}</p>
    <p>Medical treatment :{{ medicalrecord.medical_treatment }}</p>
    <p>Home recomendations: {{ medicalrecord.home_recommendation }}</p>
{% endblock %}